* {
    box-sizing: border-box;    
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.screen {
    background-color: #c9c9c9;
    border: 10px solid #000;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.answer {
    padding: 10px;
    font-size: 2rem;
}

.calculator {
    border: solid 5px;
    text-align: center;
}

.row {
    display: flex;
    gap: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(130, 198, 225);
    color: #fff;
}

.buttons p {
    background-color: rgb(87, 190, 206);
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.buttons p:active {
    box-shadow: 2px 2px 5px rgb(67, 132, 142);
}